<section class='container-fluid p-0 m-0'>
  <div class='row m-0'>
    <div class='col-2 user-profile p-0 m-0'>
      <%= render 'user-profile' %>
    </div>
    <div class='col-10 p-0 m-0'>
      <%= flash_message %>
      <%= render 'opinions/navbar' %>
      <div class='container mt-5 shadow-lg p-3 mb-5 bg-white rounded new-opinion'>
        <h1>New Book Review</h1>
        <div class='new-form-p'>
          <%= render 'form', opinion: @opinion %>
        </div>
        <div class='text-center'>
          <%= link_to 'Back', opinions_path, class: 'back btn' %>
        </div>
      </div>
    </div>
  </div>
</section>