<% @user.opinions.order("created_at DESC").each do |opinion| %>
    <div class="container border py-4 my-2 mx-auto d-flex col-8 problems">
      
      <div class="col-4 userimg d-flex justify-content-center align-items-center">
        <%= user_avatar(opinion.user) %>
      </div>
  
      <div class="col-8 problems-content">
        <div class='d-flex justify-content-between align-items-center'>
          <div>
            <strong><%= opinion.user.name %></strong><br/>
            <small>@<%= opinion.user.username %></small><br/>
          </div>
          <div class='like'>
            <%= like_or_dislike_btn(opinion) %>
          </div>
        </div>
        <%= opinion.body %>
  
        <%= render partial: 'comments/comment', collection: opinion.comments %>
        <%= form_for(opinion.comments.new, url: opinion_comments_path(opinion)) do |form| %>
          <%= form.text_field :content, id: :comment_content, class: 'form-control', placeholder: 'Add new Comment' %>
          <%= form.submit 'Comment', class: 'btn mt-2 comment' %>
        <% end %>
        <div class='d-flex justify-content-end editors'>
          <%= comment_settings(opinion) %>
        </div>
  
      </div>
    </div>
  <% end %>
