<section class='container-fluid p-0 m-0'>
  <div class='row m-0'>
    <div class='col-2 user-profile bg-left p-0 m-0'>

    </div>
    <div class='col-10 p-0 m-0 home-menu'>
      <%= flash_message %>
      <%= render 'opinions/navbar' %>
      <div class='mb-5 title-log align-items-center justify-content-center text-center'>
            <h2>Book Impact Review Home</h2>
            <h4>Have you read any book that made an impact in your life? You are at the right place.</h4>
          </div>
      <div class='d-flex align-items-center register'>
        <div class='col-6 mt-0 text-center'>
          
          <%= image_tag 'login.jpg', class: 'image-login col-12'%>
        </div>
        <div class='col-5 bg-light login-form d-flex align-items-center justify-content-center'>
          <div class='d-flex flex-column align-items-center formate'>
            <h2>Log in</h2>

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="email">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
              </div>

              <div class='pass'>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
              </div>

              <div class='d-flex rememberme'>
                <%= f.input :remember_me, as: :boolean, class: 'ml-3' if devise_mapping.rememberable? %>
              </div>

              <div class="text-center button">
                <%= f.button :submit, "Log in", class:'btn bg-navbar text-light login-button' %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
